<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#4b77f0">
    <a class="navbar-brand mr-0 mr-md-" href="/">
        <img src="/img/header-dashboard.png" alt="Store logo" class="img-fluid" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboard-navbar" aria-controls="dashboard-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="dashboard-navbar">
        <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link <%= routePath === '/'? 'active':'' %>" href="/">Página inicial<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link  <%= routePath === '/cart'? 'active':'' %>" href="/cart">Carrinho</a>
            <a class="nav-item nav-link  <%= routePath === '/account/me'? 'active':'' %>" href="/account/me">Perfil</a>
            <a class="nav-item nav-link  <%= routePath === '/account/orders'? 'active':'' %>" href="/account/orders">Minhas compras</a>
            <a id="logout" class="nav-item nav-link  <%= routePath === '/logout'? 'active':'' %>" href="/logout">Sair</a>
        </div>
    </div>
</nav>
